@charset "utf-8";

// ■ トップへ
//------------------------------------------
//$(function(){
//	$('.js-toTop').on('click' , function(){
//		$('html,body').animate({scrollTop:0},500);
//	});
//});
//------------------------------------------


.toTop{
	width: 130px;
	margin: 0 auto 10px;
	cursor: pointer;
}


@media screen and (max-width: 960px) {

.toTop{

}

}

@media screen and (max-width: 768px) {

.toTop{

}

}

@media screen and (max-width: 480px) {

.toTop{

}

}